.container {
  position: relative;
}
.center-item {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: red;
}
div {
  background-color: green;
}
/* a {
  background-color: red;
} */